DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
DATABASE_PATH=./data/ha-location-bot.db
ENCRYPTION_KEY=
MAP_TILE_USER_AGENT=ha-location-bot/0.1
MAP_DEFAULT_ZOOM=14
MAP_TILE_URL_TEMPLATE=
MAP_TILE_API_KEY=
# # *OSM*
# MAP_TILE_URL_TEMPLATE=https://tile.openstreetmap.org/{z}/{x}/{y}.png
# # *Stadia Maps*
# MAP_TILE_URL_TEMPLATE=https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}.png?api_key={apiKey}
# MAP_TILE_API_KEY=
# # *MapTiler*
# MAP_TILE_URL_TEMPLATE=https://api.maptiler.com/maps/streets-v2/256/{z}/{x}/{y}.png?key={apiKey}
# MAP_TILE_API_KEY=your-maptiler-key
